# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'goto-edited-position',
      'command': 'goto-edited-position:go'
    ]
  }
]
